@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-tr from-[#bb8a2f] to-four rubik xl:p-16;
}
body {
  font-family: 'Rubik', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.rubik {
  font-family: var(' --font-rubik');
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: '#C99944';
}

::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

pre {
  white-space: pre-line;
  word-wrap: break-word;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
}
.keen-slider__slide {
  border-radius: 0px;
}
:root {
  --btn-background: rgb(78, 78, 78); /* لون افتراضي */
  --btn-hover-background: #ffa500; /* لون افتراضي عند hover */
}

.btn {
  background: var(--btn-background);
  position: relative;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.btn::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--btn-hover-background);
  z-index: -1;
  transition: 1s;
}

.btn:hover::before {
  width: 100%;
}

/*? خاصة بالتعامل مع رفع الملف الذي هو عبارة عن صورة قمنا باخفاء الاليمنت الاساسي وعمل اليمنت مخصص  */
input[type='file'] {
  display: none;
}

.custom-file-upload {
  white-space: nowrap;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  z-index: 50;
}

.video-iframe {
  width: 100%;
  height: 100%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.video-container.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: #000; /* Optional: background color for full-screen overlay */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1100;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='number-slide'],
[class*=' number-slide'] {
  background: rgba(128, 128, 128, 0.116);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
}

.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 100px;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}
.thumbnail .keen-slider__slide.active {
  border: 2px dashed black;
}
/* تعريف تأثير الكتابة */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* تعريف وميض المؤشر */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffa500;
  }
}

.akar {
  overflow: hidden; /* إخفاء النص الزائد */
  border-left: 0.05em solid #ffa500; /* محاكاة مؤشر الكتابة على اليسار */
  white-space: nowrap; /* منع التفاف النص */
  direction: rtl; /* ضبط اتجاه النص من اليمين إلى اليسار */
  text-align: right;
  animation: typing 6s steps(40, end) infinite reverse,
    blink-caret 0.75s step-end infinite;
}

.akarStroke {
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #ffffff;
}
.marker {
  width: 30px;
  height: 30px;
  background-image: url('https://images.vexels.com/media/users/3/131261/isolated/lists/b2e48580147ca0ed3f970f30bf8bb009-map-location-marker.png');
  background-size: cover;
  cursor: pointer;
}

.popup {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: black;
}
