@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-five text-two rubik;
}
body {
  font-family: 'Rubik', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.rubik {
  font-family: var(' --font-rubik');
}
/* ✅ التحكم في عرض شريط التمرير */
::-webkit-scrollbar {
  width: 5px;
}

/* ✅ تغيير لون المسار (الخلفية) */
::-webkit-scrollbar-track {
  background-color: #7e7f81; /* برتقالي */
  border-radius: 20px;
}

/* ✅ تغيير لون شريط التمرير */
::-webkit-scrollbar-thumb {
  background: #9a9c9e;
  border-radius: 20px;
}

/* ✅ منع ظهور الشريط بشكل غير مستحب عند الأطراف */
::-webkit-scrollbar-track {
  border-radius: 20px;
}

pre {
  white-space: pre-line;
  word-wrap: break-word;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
}

:root {
  --btn-background: #7e7f81; /* لون افتراضي */
  --btn-hover-background: #ff7c34; /* لون افتراضي عند hover */
}

.btn {
  background: var(--btn-background);
  position: relative;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.btn::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--btn-hover-background);
  z-index: -1;
  transition: 1s;
}

.btn:hover::before {
  width: 100%;
}

/*? خاصة بالتعامل مع رفع الملف الذي هو عبارة عن صورة قمنا باخفاء الاليمنت الاساسي وعمل اليمنت مخصص  */
input[type='file'] {
  display: none;
}

.custom-file-upload {
  white-space: nowrap;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  z-index: 50;
}

.video-iframe {
  width: 100%;
  height: 100%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.video-container.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: #000; /* Optional: background color for full-screen overlay */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1100;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.keen-slider__slide {
  border-radius: 0px;
}

[class^='number-slide'],
[class*=' number-slide'] {
  /* background: rgba(128, 128, 128, 0.116); */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  /* background: rgb(224, 41, 41); */
}

.thumbnail .keen-slider__slide {
  font-size: 30px;

  /* height: 100px; */
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
  /* background: rgb(224, 41, 41); */
}
.thumbnail .keen-slider__slide.active {
  border: 2px dashed black;
  /* background: rgb(10, 158, 5); */
}
/* تعريف تأثير الكتابة */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* تعريف وميض المؤشر */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ff7c34;
  }
}

.akar {
  overflow: hidden; /* إخفاء النص الزائد */
  border-left: 0.05em solid #ff7c34; /* محاكاة مؤشر الكتابة على اليسار */
  white-space: nowrap; /* منع التفاف النص */
  direction: rtl; /* ضبط اتجاه النص من اليمين إلى اليسار */
  text-align: right;
  animation: typing 6s steps(40, end) infinite reverse,
    blink-caret 0.75s step-end infinite;
}

.akarStroke {
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #ffffff;
}
.marker {
  width: 30px;
  height: 30px;
  background-image: url('https://images.vexels.com/media/users/3/131261/isolated/lists/b2e48580147ca0ed3f970f30bf8bb009-map-location-marker.png');
  background-size: cover;
  cursor: pointer;
}

.popup {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: black;
}

/* ===== CUSTOM FONTS ====== */
@font-face {
  font-family: 'vanguardcf-heavy';
  src: url('/fonts/vanguardcf-heavy.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'vanguardcf-thin';
  src: url('/fonts/vanguardcf-thin.otf');
  font-weight: thin;
}
@font-face {
  font-family: 'Raleway-light';
  src: url('/fonts/Raleway-light.ttf');
  font-weight: light;
}

/* =====// CUSTOM FONTS //====== */

/* =====// CARDS  //====== */

/* الحاوية الرئيسية التي تحتوي على جميع البطاقات */
.container {
  display: flex; /* يجعل العناصر تترتب بشكل أفقي */
  gap: 20px; /* يضيف مسافة بين البطاقات */
  align-items: center; /* يمركز العناصر عموديًا */
  justify-content: center; /* يمركز العناصر أفقيًا */
  font-family: 'Varela Round', sans-serif; /* يحدد نوع الخط */
  line-height: 1.5em; /* يضبط ارتفاع السطر للنصوص */
  padding: 20px; /* يضيف مسافة داخلية حول الحاوية */
}

/* كلاس يتحكم في تصميم كل بطاقة فردية */
.item {
  --color: #ff7c34; /* متغير لون مخصص للبطاقة */
  background-color: var(--color); /* لون خلفية البطاقة */
  border-radius: 10px; /* يجعل زوايا البطاقة مستديرة */
  padding: 20px; /* مسافة داخلية حول محتوى البطاقة */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ظل خفيف حول البطاقة */
  position: relative; /* يسمح بتحديد موقع العناصر داخلها بشكل نسبي */
  cursor: pointer; /* يغير شكل المؤشر إلى يد عند التمرير فوق البطاقة */
}

/* تأثير زخرفي يظهر على جانب البطاقة */
.item::after {
  content: ''; /* محتوى فارغ */
  position: absolute; /* يحدد موقع العنصر بشكل مطلق داخل البطاقة */
  top: 20px; /* المسافة من الأعلى */
  left: 0; /* المسافة من اليسار */
  z-index: 2; /* يحدد ترتيب الطبقات */
  height: 80%; /* ارتفاع العنصر */
  box-sizing: border-box; /* يجعل الحسابات تشمل الحواف والمسافات الداخلية */
  border-style: solid; /* يحدد نمط الحدود */
  border-color: transparent transparent transparent var(--color); /* لون الحدود */
  border-width: 40px 40px 40px 40px; /* سماكة الحدود */
  filter: drop-shadow(5px 0 4px rgba(0, 0, 0, 0.1)); /* ظل خفيف */
  transition: filter 0.5s; /* تأثير انتقالي عند التمرير */
}

/* تغيير لون البطاقة الثانية */
.item:nth-child(2) {
  --color: #813085; /* لون مختلف للبطاقة الثانية */
}

/* تغيير لون البطاقة الثالثة */
.item:nth-child(3) {
  --color: #50f999; /* لون مختلف للبطاقة الثالثة */
}

/* الطبقة الداخلية للبطاقة */
.layer {
  background-color: #f2f2f2; /* لون خلفية الطبقة */
  border: 1px solid #fff; /* حد أبيض حول الطبقة */
  border-radius: inherit; /* يرث زوايا مستديرة من البطاقة */
  padding: 20px; /* مسافة داخلية */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1),
    0 16px 32px rgba(0, 0, 0, 0.1), 0 32px 64px rgba(0, 0, 0, 0.1); /* ظل متعدد الطبقات */
  position: relative; /* يسمح بتحديد موقع العناصر داخلها بشكل نسبي */
  left: 10px; /* يحرك الطبقة قليلاً إلى اليمين */
  transition: left 1s; /* تأثير انتقالي عند التمرير */
}
/* العنصر الدائري في الزاوية  */
.span1 {
  width: 40px; /* عرض العنصر */
  height: 40px; /* ارتفاع العنصر */
  color: #fff; /* لون النص الأبيض */
  background-color: var(--color); /* لون الخلفية باستخدام المتغير */
  border-radius: 50%; /* يجعل العنصر دائريًا */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1),
    0 16px 32px rgba(0, 0, 0, 0.1), 0 32px 64px rgba(0, 0, 0, 0.1); /* ظل متعدد الطبقات */
  font-size: 14px; /* حجم الخط */
  position: absolute; /* يحدد موقع العنصر بشكل مطلق */
  right: 5px; /* المسافة من اليمين */
  bottom: 5px; /* المسافة من الأسفل */
}

/* تأثير عند التمرير فوق البطاقة */
.item:hover::after {
  filter: drop-shadow(5px 0 4px rgba(0, 0, 0, 0.1)); /* تغيير الظل */
}

/* تأثير حركة الطبقة عند التمرير */
.item:hover .layer {
  left: 40px; /* يحرك الطبقة إلى اليمين */
}
/* =====// CARDS  //====== */
.clip-triangle-right {
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
